[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
infisical-python = "*"
jupyter = "*"
ipython = "*"
django-environ = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
